<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="static/index.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/locales/de_DE.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/germanyLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/fonts/notosans-sc.js"></script>
<script type="text/javascript" src="https://cdn.amcharts.com/lib/5/index.js?ver=20231102-e98" id="-lib-5-index-js-js"></script>
<script type="text/javascript" src="https://cdn.amcharts.com/lib/5/xy.js?ver=20231102-e98" id="-lib-5-xy-js-js"></script>
<script type="text/javascript" src="https://cdn.amcharts.com/lib/5/themes/Animated.js?ver=20231102-e98" id="-lib-5-themes-Animated-js-js"></script>
<script type="text/javascript" src="https://cdn.amcharts.com/lib/5/percent.js?ver=20231102-e98" id="-lib-5-percent-js-js"></script>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdn.amcharts.com/lib/5/stock.js"></script>

<script src="static/BarChartPrices.js" defer></script>
<script src="static/BestSellerChart.js" defer></script>
<script src="static/SalesCurveChart.js" defer></script>
<script src="static/PieChart.js" defer></script>
<script src="static/DiffChart.js" defer></script>

</head>

  
  
<div id="SalesChart"><h1>Amount sold per day</h1></div>
  
  
  <div id="BarChartDiv"><h1>Price Of Some Products</h1></div>
  
  
  <div id="DiffChart"><h1>Growth Rate</h1> </div>
  


  <div id="PieChart"><h1>Most Sold Products</h1></div>
  


  
  <div id="BestSellerChart"><h1>The quantity sold by the sales representative</h1></div>



</html>